infra/terraform/terraform.tfvars
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
# Build output
**/bin/
**/obj/

# Mac system files
.DS_Store
src/.DS_Store
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
infra/terraform/*.backup
